#!/bin/bash
# PHP CodeSniffer pre-commit hook for git

# We assume the module is installed in modules/content_hub
if [ ! -x "$(command -v phpcs)" ]; then
    echo "PHP CodeSniffer bin not found or executable -> $PHPCS_BIN."
    echo "Please install phpcs using 'composer global require \"squizlabs/php_codesniffer=*\"'"
    exit 1
fi

phpcs -i | grep 'Drupal' > /dev/null
status=$?

if [ $status -ne 0 ]; then
    echo "Please install the Drupal code standards using 'composer global require drupal/coder'"
    echo "More instructions can be found at https://www.drupal.org/node/1419988"
    exit 1
fi

FILES=$(git diff-index --name-only --cached --diff-filter=ACMR HEAD -- )

if [ "$FILES" == "" ]; then
    exit 0
fi

OUTPUT=$(phpcs --standard=Drupal --extensions='php,module,inc,install,test,profile,theme,js,css,info,txt' acquia_contenthub )

if [ "$OUTPUT" != "" ]; then
  echo "$OUTPUT"
  exit 1
fi

exit 0
